<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<f:loadBundle basename="resources" var="msg" />
<head>
<title><ui:insert name="pageTitle">Page Title</ui:insert></title>
<link rel="stylesheet" href="styles/main.css" />
</head>

<body bgcolor="#ffffff">
	<table class="main" align="center" width="800">
		<tbody>
			<tr>
				<td class="header" width="20%">
					<ui:include src="menu.xhtml" />
				</td>
				<td class="header" height="40" align="center" >
					<ui:insert name="pageHeader">Page Header</ui:insert>
				</td>
			</tr>

			<tr>
				<td height="100" colspan="2">
					<ui:insert name="body">Page Body</ui:insert>
				</td>
			</tr>

			<tr>
				<td class="bottom" height="20" align="center" colspan="2">©sewatech</td>
			</tr>
		</tbody>
	</table>
</body>

</html>