<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition> 
<ul id="menu-vertical">
	<li><a>Menu</a>
		<ul>
			<li><a href="course.xhtml">Cours</a></li>
			<li><a href="trainer.xhtml">Formateurs</a></li>
			<li><a href="coursesession.xhtml">Sessions</a></li>
		</ul>
	</li>
</ul>
</ui:composition>

</html>