body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.main {
	border: 1px solid #CAD6E0;
}

.header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	background-color: #dddddd
}

.bottom {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	vertical-align: middle;
	background-color: #dddddd
}

#menu-vertical, #menu-vertical ul {
	padding: 0;
	margin: 0;
	list-style: none;
	width: 180px;
	background-color: #dddddd
}
#menu-vertical li {
	position: relative;
}
#menu-vertical ul {
	position: absolute;
	left: -999em;
}
#menu-vertical li:hover ul {
	top: 0px;
	left: 80px;
	width: 150px;
}
#menu-vertical a {
	display: block;
	text-decoration: none;
	color: black;
}
#menu-vertical li ul a {
	height: 30px;
}

.datatable {
	width: 100%;
	border-collapse: collapse;
	margin: 1em 0;
}

.datatable td, .datatable th {
	border: 1px solid #777777;
}

.col20 {
	width: 20%;
}

.col40 {
	width: 40%;
}

.col60 {
	width: 60%;
}

.col80 {
	width: 80%;
}