<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/templates/common.xhtml">
	<ui:define name="pageTitle">Sessions</ui:define>
	<ui:define name="pageHeader">Gestion des sessions</ui:define>
	<ui:define name="body">
		<h:form id="list">
			<h:dataTable value="#{courseSessionBean.all()}" var="courseSession"
				styleClass="datatable">
				<h:column headerClass="col20">
					<f:facet name="header">Code</f:facet>
					<h:outputText value="#{courseSession.code}" />
				</h:column>
				<h:column>
					<f:facet name="header">Titre</f:facet>
					<h:outputText value="#{courseSession.title}" />
				</h:column>
				<h:column>
					<f:facet name="header">Début</f:facet>
					<h:outputText value="#{courseSession.start}" />
				</h:column>
				<h:column>
					<f:facet name="header">Formateur</f:facet>
					<h:outputText value="#{courseSession.teacher.code}" />
				</h:column>
				<h:column headerClass="col20">
					<f:facet name="header"></f:facet>
					<h:commandLink action="#{courseSessionBean.select(courseSession)}"
						value="sélectionner" />
				</h:column>
			</h:dataTable>

			<h:form id="detail">
				<h:inputHidden value="#{courseSessionBean.current.id}" />
				<h:panelGrid columns="2">
					<h:outputLabel value="Code" />
					<h:inputText value="#{courseSessionBean.current.code}" />
					<h:outputLabel value="Titre" />
					<h:inputText value="#{courseSessionBean.current.title}" size="100" />
					<h:outputLabel value="Plan" />
					<h:inputTextarea value="#{courseSessionBean.current.syllabus}" cols="80"
						rows="20" />
					<h:panelGroup />
					<h:panelGroup>
						<h:commandButton value="Enregistrer" action="#{courseSessionBean.save()}" />
						<h:commandButton value="Supprimer" action="#{courseSessionBean.remove()}" />
						<h:commandButton value="Effacer" action="#{courseSessionBean.clear()}" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>

		</h:form>

	</ui:define>
</ui:composition>

</html>
