<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/templates/common.xhtml">
	<ui:define name="pageTitle">Cours</ui:define>
	<ui:define name="pageHeader">Gestion des cours</ui:define>
	<ui:define name="body">
		<h:form id="list">
			<h:dataTable value="#{courseBean.all()}" var="course"
				styleClass="datatable">
				<h:column headerClass="col20">
					<f:facet name="header">Code</f:facet>
					<h:outputText value="#{course.code}" />
				</h:column>
				<h:column>
					<f:facet name="header">Titre</f:facet>
					<h:outputText value="#{course.title}" />
				</h:column>
				<h:column headerClass="col20">
					<f:facet name="header"></f:facet>
					<h:commandLink action="#{courseBean.select(course)}"
						value="sélectionner" />
				</h:column>
			</h:dataTable>
		</h:form>

		<h:form id="detail">
			<h:inputHidden value="#{courseBean.current.id}" />
			<h:panelGrid columns="2">
				<h:outputLabel value="Code" />
				<h:inputText value="#{courseBean.current.code}" />
				<h:outputLabel value="Titre" />
				<h:inputText value="#{courseBean.current.title}" size="100"/>
				<h:outputLabel value="Plan" />
				<h:inputTextarea value="#{courseBean.current.syllabus}" cols="80" rows="20" />

				<h:panelGroup />
				<h:panelGroup>
					<h:commandButton value="Enregistrer" action="#{courseBean.save()}" />
					<h:commandButton value="Supprimer" action="#{courseBean.remove()}" />
					<h:commandButton value="Effacer" action="#{courseBean.clear()}" />
				</h:panelGroup>
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>

</html>
